@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

/* 
TODO:

1. FIXME: Desktop view Design
2. FIXME: Mobile view Design.
*/

/* || RESET (REMOVING DEFAULT STYLES) */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: grid;
  place-content: center;
}
.containers {
  border-radius: 0.8rem;
}
.overall-container {
  background-color: transparent;
}
.main {
  background-color: hsl(0, 0%, 100%);
  width: 24.5rem;
  padding: 1rem;
  box-shadow: 2px 5px 20px hsl(211, 12%, 66%);
  text-align: center;
}
img {
  max-width: 100%;
}
h1 {
  margin: 1.5rem 1.5rem 0 1.5rem;
  font-size: 1.5rem;
}
p {
  margin: 1.5rem;
  font-size: 0.9375rem;
  opacity: 0.5;
}
.attribution {
  margin-top: 1.5rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*  || MOBILE VIEW STYLES */
@media screen and (max-width: 375px) {
  .overall-container {
    padding: 0;
    display: grid;
    place-content: center;
  }
  .main {
    width: 18rem;
    padding: 0.7rem 0.6rem;
  }
  h1 {
    font-size: 1.259rem;
  }
  p {
    margin: 1rem;
  }
}
